{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-extensible-destructuring",
      {
        "mode": "optout",
        "impl": "safe"
      }
    ]
  ]
}
